.nav-bar {
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 50px;
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-link {
    text-decoration: none;
}

#napcamp-text {
    font-size: 30px;
    color: rgb(0, 46, 0)
}
